<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                <div class="pagina-modificar-perfil-titulo">CREAR NUEVA PREGUNTA</div>
                
                <div class="panel-modificar-perfil">        
                   <form method="POST" action="create_new_question" id="formulario-crear-nueva-pregunta" enctype="multipart/form-data">
                        <div class="campo-formulario-crear-nueva-pregunta"> 
                            <label class="label-formulario-nueva-pregunta"> Título de la pregunta: </label>
                            <input class="input-nueva-pregunta" type="text" name="tituloPregunta"><br>    
                        </div>  
                        
                        <div class="campo-formulario-crear-nueva-pregunta">
                            <label class="label-formulario-crear-nueva-pregunta">Introduzca una respuesta por linea: </label>                        
                        </div>

                        <textarea name="comment" form="usrform">  </textarea>

                        <div class="campo-formulario-modificacion-perfil">
                            <button type="submit" class="boton-aceptar-modificacion-perfil"> Crear nueva pregunta </button>
                            <a href="my_profile" class="boton-cancelar-modificacion-perfil"> Cancelar </a>
                        </div>
                   </form>
                </div>              
            </div>        

    </body>

 </html>