<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                <div class="titulo-pagina">CREAR NUEVA PREGUNTA</div>
                
                <div class="panel-crear-nueva-pregunta">        
                   <form method="POST" action="create_new_question" id="formulario-crear-nueva-pregunta">
                        <div class="campo-formulario-crear-nueva-pregunta titulo-pregunta"> 
                            <label class="label-formulario-nueva-pregunta">Título de la pregunta: </label>
                            <input class="input-nueva-pregunta" type="text" name="tituloPregunta"> 
                        </div>  

                        <% if (errores != null && errores.tituloPregunta) { %>
                            <span class="mensaje-error-titulo-nueva-pregunta"><%= errores.tituloPregunta.msg %></span>
                        <% } %> 
                        
                        <div class="campo-formulario-crear-nueva-pregunta">
                            <label class="label-formulario-crear-nueva-pregunta">Introduzca una respuesta por linea: </label>                        
                        </div>

                        <textarea class="textarea-respuestas" name="respuestas" form="formulario-crear-nueva-pregunta"></textarea>
                        
                        <% if (errores != null && errores.respuestas) { %>
                            <span class="mensajes-error-nueva-pregunta"><%= errores.respuestas.msg %></span>
                        <% } %> 

                        <div class="campo-formulario-crear-nueva-pregunta">
                            <button type="submit" class="boton-crear-pregunta"> Crear nueva pregunta </button>
                            <a href="questions" class="boton-cancelar-crear-pregunta contenido-centrado"> Cancelar </a>
                        </div>
                   </form>
                </div>              
            </div>        
    </body>

 </html>