<div class="header">
    <div class="logo"> </div>  
    <div class="informacion-nav">
        <div class="panel-izq-nav-imagen">                        
              <img class="imagen-perfil-header" src="/users/profile_img/<%= profile_img %>">                       
        </div>
        <div class="panel-der-nav-datos">
            <span><%= userEmail %></span>
            <span class="puntuacion"><%= points %> Puntos</span>
           <a class="boton-desconectar contenido-centrado" href="/users/logout">Desconectar</a>
        </div>
     </div>
</div>