<div class ="nav">
    <a  class="efecto-sombra" href="/users/my_profile">Perfil</a>
    <a class="efecto-sombra" href="/users/friends">Amigos</a>
    <a class="efecto-sombra" href="/users/questions">Preguntas</a>
</div>