        <% if (notifications.length >= 1) { %>
           
            <div class="box">
                <div class="notification">
                    <i class="material-icons">notifications</i>
                    <span class="num"> </span>
                    <ul>
                        <%  notifications.forEach(notification => { %>
                            <li>    
                                <span class="text">Tu amigo/a <%= notification.emailUserGuessing %> ha respondido a la pregunta <%= notification.textQuestion %>. Su respuesta ha sido <%= notification.textAnswerGuessing %>, tu respuesta es <%= notification.textAnswerFirst %></span>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        <% } %>