        <% if (notifications.length >= 1) { %>
           
            <div class="box">
                <div class="notification">
                    <i class="material-icons">notifications</i>
                    <span class="num"> </span>
                    <ul>
                        <%  notifications.forEach(notification => { %>
                            <li>    
                                <span class="text">Tu amigo/a <strong><%= notification.nameFriend %></strong> ha respondido a la pregunta <strong><%= notification.textQuestion %></strong>. Su respuesta ha sido <strong><%= notification.textAnswerGuessing %></strong>, tu respuesta es <strong><%= notification.textAnswerFirst %></strong>.</span>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        <% } %>