

<div class="panel-galeria animated slideInDown">
    
        <% if (profile_modifiable) { %>
            <form method="POST" action="upload_image"  enctype="multipart/form-data" id="cabecera-galeria" class="formulario-subida-imagenes">   
                <div class="campo-formulario-subida-imagenes">
                    Descripcion:     <input type="text" name="description">
                </div>

                <input  type="file" class="inputfile" name="profile_img" placeholder="Seleccionar archivo" accept=".jpg, .jpeg, .png">
                <button type="submit" class="boton-subir-foto"> Subir foto</button>
            </form> 
        <% } %> 
          
    <div class="galeria-imagenes">
        <% images.forEach(image =>{ %>
            <div class="imagen-de-la-galeria tooltip">
                <img  src="/users/profile_img/<%= image.image %>">  
                <span class="tooltiptext"> <%= image.description %></span>     
            </div>
        <% });%>
    </div>
        
  
</div>
