
ul {
    position: relative;
    right: 15px;
    
    
    width: 470px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    padding: 0 15px;
   
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: none;
    z-index: 10;
}


ul li {    
    border-bottom: 1px solid rgba(0,0,0,1);
    padding: 8px 0;
    display: flex;
    z-index: 10;
}


ul li:last-child {
    border-bottom: none;
}


ul li .icon {
    width: 24px;
    height: 24px;
    background: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 15px;
}

ul li .text {
    color:black;
    position: relative;
    top: 3px;
    cursor: pointer;
    font-size:15px;
}

ul li:hover .text {
    font-weight: bold;
    color: #A55BBE;
    
}

.box {
    
    top: -70px;
    left: 400px;
    position: relative;
   
}

.notification {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #111010;
    line-height: 60px;
    font-size: 30px;
}


.notification:hover {
    width: 500px;
    height: 60px;
    text-align: left;
    padding: 0 15px;
    background: #A55BBE;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
}


.notification .num {
    position: absolute;
    top: 0;
    right:0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #A55BBE;
    color: #fff;
    line-height: 25px;
    text-align: center;
}


.notification:hover .num {
    position: relative;
    background: transparent;
    color: #fff;
    font-size: 24px;
    top: -4px;
   
}




.notification:hover .num:after {
    content: ' Notificaciones';
}


.notification:hover ul {
    display: block;
}


